Flask==2.3.2
Pillow==9.4.0
requests==2.31.0
gunicorn==21.2.0
cloudinary==1.36.0
pyyaml==6.0.1
numpy==1.24.3
tqdm==4.65.0
python-dotenv==1.0.0
redis==4.6.0
upstash-redis==1.0.0
gradio
gradio-client=
psutil==5.9.5